.AppFooter {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px dashed rgb(133, 133, 216);
}
